
  <nav id="sidebar"  class="vh-100 overflow-scroll" style=" position:sticky; top: 0; background-color: azure;">
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/img/gallery/bg_1.jpg);">
      <div class="user-logo">
        <div class="img" style="background-image: url(assets/img/gallery/logo.jpg);"></div>
        <h3>Catriona Henderson</h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="">
        <a href="all_statistics"><span class="fa fa-home mr-3"></span> Statistics</a>
      </li>
      <li>
          <a href="all_hotels"><span class="fas fa-hotel mr-3 "></span>All Hotels</a>
      </li>
      <li>
        <a href="all_reservations"><span class="fa fa-trophy mr-3"></span>All Reservations</a>
      </li>
      <li>
        <a href="all_users"><span class="fa fa-cog mr-3"></span> All Users</a>
      </li>

    </ul>

  </nav>
