<nav id="main-navbar" class="navbar position-sticky navbar-expand-lg navbar-light bg-white w-100" style="z-index:10;top:0;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.256);">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/logo.png"
        height="25"
        alt="Booking Logo"
        loading="lazy"
      />
    </a>

    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <li *ngIf="status==true">
        <app-logout style="background-color:hsl(0, 0%, 50%);"></app-logout>
      </li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
