<div class="section padding-top-bottom z-bigger">
  <div class="section z-bigger">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mt-4 mt-lg-0">
          <div class="row d-flex">

           <app-room-card class="col-lg-6 mt-4 mt-lg-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.4s"
              *ngFor="let room of rooms"
              [statId]="room.id"
              [statHotel]="room.hotel.name"
              [statDesc]="room.description"
              [statPrice]="room.price"
              [statImage]="room.image_url"
           ></app-room-card>

          </div>
        </div>
        <div class="col-lg-4 order-first order-lg-last">
          <div class="section background-dark p-4">
            <div class="row">
              <div class="col-12">
                <div class="input-daterange input-group" id="flight-datepicker">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-item">
                        <span class="fontawesome-calendar"></span>
                        <input class="input-sm" type="text" autocomplete="off" id="start-date-1" name="start" placeholder="chech-in date" data-date-format="DD, MM d"/>
                        <span class="date-text date-depart"></span>
                      </div>
                    </div>
                    <div class="col-12 pt-4">
                      <div class="form-item">
                        <span class="fontawesome-calendar"></span>
                        <input class="input-sm" type="text" autocomplete="off" id="end-date-1" name="end" placeholder="check-out date" data-date-format="DD, MM d"/>
                        <span class="date-text date-return"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 pt-4">
                    <select name="adults" class="wide">
                      <option data-display="adults">adults</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 pt-4">
                  <input class="booking-button" type="submit" value="book now">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
