<div class="cardv1 container py-3 position-relative mt-2 border-left" style="background-color: rgba(236, 236, 236, 0.541)">
  <div class="ribbon" [ngClass]="statStatus === 'ACTIVE' ? 'bg-success' : 'bg-danger'" *ngIf="statRole=='ADMIN'">
      <small>{{statStatus}}</small>
  </div>
  <div class="card">
    <div class="row ">
      <div class="col-md-4" >
        <img srcset="{{statImage}}" class="w-100" style="max-height: 165px;">
        <div class="d-flex align-items-center flex-wrap" style="align-items: center;gap:5px">
          <a routerLink="/add_room/{{statId}}" *ngIf="statRole=='OWNER'" class="btn btn-primary mt-3">Add Rooms</a>
          <a routerLink="/rooms/{{statId}}" *ngIf="statRole=='OWNER'"   class="btn btn-primary mt-3">Check Rooms</a>
          <a routerLink="/roomsof_hotel/{{statId}}" *ngIf="statRole=='ADMIN'"   class="btn btn-primary mt-3">Check Rooms</a>
          <small *ngIf="statRole=='OWNER'" class="btn btn-primary mt-3">{{statStatus}}</small>
          <button *ngIf="statRole=='ADMIN'"  (click)="updateStatus(statId)" class="btn btn-primary  text-white outline-none mt-3" > Change Status</button>


        </div>
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h6 class="card-title">{{statName}}</h6>
          <small class="pb-2">Phone : {{statPhone}}</small><br>
          <small class="mt-2">
            {{statDesc}}
          </small>
          <div class="d-flex mt-2">
            <div class="d-flex " style="flex-basis: 50%;">
              <p class="text-bold">Country : </p>
              <p>{{statCountry}}</p>
            </div>
            <div class="d-flex" style="flex-basis: 50%;">
              <p class="text-bold">City : </p>
              <p>{{statCity}}</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex" style="flex-basis: 50%;">
              <p class="text-bold">Address : </p>
              <p>{{statAddress}} </p>
            </div>
            <div class="d-flex" style="flex-basis: 50%;">
              <p class="text-bold">Code Postal : </p>
              <p>{{statCodePostal}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

