
<style>
  td,th{
    font-size: 12px;
  }

  .status{
    font-weight: bold;
    border-radius: 25px;
  }
</style>
<!--Table-->
<table class="table table-hover table-fixed">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>full Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>statut</th>
      <th>Modifier</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr *ngFor="let user of users">
      <td></td>
      <td>{{user.fullname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td><small class="status p-1 text-white"  [ngClass]="user.status === 'ACTIVE' ? 'bg-success' : 'bg-danger'">
        {{user.status}}
      </small></td>
      <td style="cursor:pointer ;"  (click)="updateStatus(user.id)" ><small  class="fa fa-edit ">
      </small></td>
    </tr>


</table>

