<!-- <div class="col-lg-5 mt-4 mt-lg-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.4s"> -->
  <div class="room-box background-grey">
    <div class="room-name">{{statHotel}}</div>
    <div class="room-per">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <img srcset="{{statImage}}" alt="" style="max-height:170px;">
    <div class="room-box-in">
      <h6 class="">{{statHotel}} <small class="" style="font-size: 10px ;">(hotel'room)</small></h6>
      <small class="mt-4">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</small><br>
      <a class="mt-2 btn btn-primary" href="rooms-gallery.html">book from {{statPrice}} $</a>
      <div class="room-icons mt-3 pt-4">

        <a routerLink="/room-detail/{{statId}}" class="p1">full info</a>
      </div>
    </div>
  </div>
<!-- </div> -->


